<div id="Review">
    <ion-view>
        <ion-content>
            <div>
                <div id="logo">
                    <img class="logoImage" ng-src="{{reviewVar.businessImg()}}">
                    <div class="reviews-star" ng-bind-html=reviewVar.reviews(2)></div>
                </div>
                <div class="bar-balanced newloyalcheckbox">
                    <p class="h1 title">Customer Review</p>
                </div>
                <div class="row border-review">
                    <div class="col50">
                        <img src="img/filledStar.png">
                    </div>
                    <div class="col50">
                        <strong>{{ reviewVar.businessRating() }}/ 5</strong>
                        <!-- <span class="color-review">from 2 reviews</span> -->
                    </div>
                    <div class="col"><a class="color-reviewblue highlightThis" ng-click="reviewVar.enableReveiw()">Write a review</a></div>
                </div>

                <div class="row border-bottom-1 margin-top-minus1" ng-show="reviewVar.writeReveiwShow">
                    <div class="list width-100">
                        <label class="item item-input item-stacked-label" ng-show="giveFeedback.ratingMsg">
                        <p></p>
                      </label>
                        <label class="item item-input item-stacked-label">
                        <span class="input-label">Rating</span>
                        <p>
                            <img ng-repeat="(key, value) in reviewVar.starsArr" class="{{ value.class }}" on-tap="reviewVar.giveRating(+key + 1)" ng-src="{{ value.src }}"/>
                        </p>
                      </label>
                        <label class="item item-input item-stacked-label">
                        <span class="input-label">Pros</span>
                        <input type="text" placeholder="Pros" ng-model="reviewVar.pros">
                      </label>
                        <label class="item item-input item-stacked-label">
                        <span class="input-label">Cons</span>
                        <input type="text" placeholder="Cons" ng-model="reviewVar.cons">
                      </label>
                        <label class="item item-input item-stacked-label padding-top-8">
                        <button class="button button-positive" ng-click="reviewVar.giveFeedback()">Submit</button>
                      </label>
                    </div>
                </div>

                <div class="item border-bottom-1" ng-hide="reviewVar.writeReveiwShow" ng-repeat="(key, value) in reviewVar.allReview()">
                    <img src="img/star.png">
                    <p class="color-reviewgrey col">By {{ value.FullName }} on {{ reviewVar.giveDataFormat(value.CreatedOn) }}</p>
                    <span class="h1 title">Pros</span>
                    <p class="color-reviewgrey col">{{ value.Pros }}</p>
                    <span class="h1 title">Cons</span>
                    <p class="color-reviewgrey col">{{ value.Cons }}</p>
                </div>

            </div>
        </ion-content>
        <ion-footer-bar class="bar bar-footer bar-light highlightThis border-top-0" ng-click="reviewVar.loadMore()">
            <div class="title title-center">{{ stopLoading == false ? 'No more records' : 'Load more..' }}</div>
        </ion-footer-bar>
        <!-- <div class="bar bar-footer bar-light highlightThis border-top-0" ng-click="reviewVar.loadMore()">
                    <div class="title">{{ stopLoading == false ? 'No more records' : 'Load more..' }}</div>
                </div> -->
    </ion-view>
</div>