<div id="Businessmap">
    <ion-view>
        <ion-content>

            <label ng-show="showMe" class="item item-input new_margin">
                <input type="text" ng-model="searchKeyword" placeholder="Search">
                <span class="ion-search paddingLR10" on-tap="bc.search(searchKeyword)" ng-show="loadmoreNgShow"></span>
            </label>
            <a ng-click="goToMap(datadeal.BusinessID)" class="already-loyalbonus button buttonListView">MapView</a>
            <ng-map zoom="8" center="{{bc.center}}" style="width:100%;height:590px">
                <marker ng-repeat="value in bc.positions track by value" position="{{value}}" on-click="vm.showCustomMarker()"></marker>
            </ng-map>
        </ion-content>
    </ion-view>
</div>