<div id="Businessmap">
    <ion-view>
        <ion-content>
            <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="Test()">
            </ion-refresher>
            <a ng-click="goToMap(datadeal.BusinessID)" ng-model="gotoCurrentLocation" class="already-loyalbonus buttonListView {{ isAndroid == true ? '' : 'addclassiostext' }}"><img class="listviewmapBusiness" src="img/listviewmap.png">List View</a>
            <button ng-mouseover="testing()">Testing</button>
            <ng-map zoom="11" radius="100" zoomOnDoubleClick:true data-tap-disabled="false" center="{{bc.center}}" style="width:100%;height:80%" on-center-changed="setCenter()" on-zoom-changed="zoomChanged()" on-place-changed="placeChanged()">
                <marker ng-repeat="(key, value) in bc.positions" position="{{value.positions}}" id="{{ key }}" on-click="bc.showCustomMarker($event)"></marker> <!-- animation="DROP" -->
            </ng-map>
            <button class="button button-balanced" id="businessmapButton" ng-click="bc.test()"><!-- Test() -->
                    Redo Search In This Area
            </button>
            <div ng-repeat="daj in datadeal track by $index">
                <div class="row">
                    <div id="businessmaplogo" class="col-20">
                        <img ui-sref="home.kaseydiner({ id : daj.BusinessID })" ng-src="{{ daj.Image == null ? 'img/placeholder.jpg' : daj.Image }}">
                    </div>
                    <div id="businessmaplogo" class="col-80">
                        <span ui-sref="home.kaseydiner({ id : daj.BusinessID })" class="stake-house">
                            {{daj.Name}}
                        </span>
                        <div class="reviews-star" ng-bind-html=helperFunction.reviews(daj.reviews)></div>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>