<div id="restaurants">
    <div class="tabs-top tabs-background-positive tabs-color-light">
        <ul rn-carousel class="tabs" rn-carousel-index="carouselIndex">
            <li ng-repeat="(key, value) in heading" class="tab-item" ui-sref-active="current" ui-sref="home.restaurants({vertical: value.CategoryID})">{{ value.CategoryName }}</li>
        </ul>
        <ion-view>
            <ion-content on-swipe-right="goBack()" on-swipe-left="goForward()">
                <ion-refresher
                    class="row"
                    pulling-text="Pull to refresh..."
                    on-refresh="Test()">
                </ion-refresher>
                <div class="row">
                    <a ng-click="goToMap(datadeal.BusinessID)" class="already-loyalbonus button buttonListView row {{ isAndroid == true ? '' : 'addclassios' }}"><img class="ion-mapclass" src="img/ion-map.png"> MapView </a>
                </div>
                <div class="grey_bg">
                    <div ng-repeat="d in print_data()" class="margin-top-15 margin-btm-15 white_bg">
                    {{ restaurants.demo }}
                    <div id="logo">
                        <img ng-src="{{ d.Image == null ? 'img/placeholder.jpg' : d.Image }}" ng-click="open_detail_page(d.BusinessID)">
                    </div>
                    <div class="row stake-house padding-all-zero">
                        <div class="col-50">
                            <p class="stake-house text_shadow_black">
                                {{ d.Name }} 
                            </p>
                        </div>
                        <div class="col-50">
                            <div class="rat-star" ng-bind-html="restaurants.print_image(d.Reviews)"></div>
                        </div>
                    </div>
                    <div class="row border-bottom padding-top-zero">
                        <div class="col-50">
                            <ion-list>
                                <ion-item class="wth-border padding-bottom" ng-show="d.Address1 == null ? false : true ">{{ d.Address1 }},{{ d.Address2 }}</ion-item>
                                <ion-item class="wth-border padding-bottom" ng-show="d.ContactPhone == null ? false : true" ng-click="dialNumber(d.ContactPhone)" >{{ d.ContactPhone }}</ion-item>
                            </ion-list>
                        </div>
                        <div class="col-50 margin-top-15">
                            <p class="blue_text">Visit {{ d.BonusDiscountToCust }} times for bonus</p>
                        </div>
                    </div>
                    <div class="row">                        
                            <div class="col">
                                <p class="wth-border padding-top-10 margin-bottom-0" ng-show="d.LoyalDiscount == null ? false : true">    
                                    <i class="ion-load-d"></i> Loyal Discount:{{ d.LoyalDiscount }}%
                                </p>
                            </div>   
                                
                            <div class="col">  
                                <p class="wth-border padding-top-10 margin-bottom-0" ng-show="d.BonusDiscount == null ? false : true" ng-click="showPopup(d.BonusDiscount)">
                                    <img style="position: relative; right: 3px;" src="img/bonus.png"> Bonus Discount:{{ restaurants.print_BonusDiscount(d.BonusDiscount) }}
                                </p>
                            </div>
                            </ion-list>                       
                         </div>
                    </div>
                </div>
                <div class="loadingButton margin-top-15" ng-show="noMoreItemsAvailable">No Record</div>
                <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="listData();" distance="1%"></ion-infinite-scroll>
            </ion-content>
        </ion-view>
    </div>
</div>