<ion-side-menus>
  <ion-side-menu side="left" id="kaseydiner">

    <ion-content>
      <ion-item class="rtblock">
        <h1 class="rttitle">Kody Bui</h1>
        <h1 class="rttitle">kodybui@gmail.com</h1>
      </ion-item>
      <ion-list>
        <ion-item>My Loyal Bonus</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>my Membership</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>Account Setting</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>Invite a Friend</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>About Loyal Bonus</ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="new-color-loyal">Sign Out</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

<ion-side-menu-content>
      <ion-header-bar class="bar-positive" id="kaseydiner">
        <a class="button icon-right ion-chevron-right button-calm"></a>
        <h1 class="title">Kasey’s Diner</h1>
      </ion-header-bar>
        <div class="buttons">
        <button class="button button-clear icon ion-navicon-round" ng-click="toggleLeft()"></button>
    </div>
      <div ui-view="body"></div>

</ion-side-menu-content>  



    
  
