<ion-side-menus enable-menu-with-back-views="false" id="home">
    <ion-side-menu side="left" id="restaurants">

        <ion-content style="top: 0;">

            <ion-item class="rtblock" ng-show="home_var.userPresent() == 1 ? true : false">
                <h1 class="rttitle">{{ userDetails.FullName == '' ? 'Null' : userDetails.FullName }}</h1>
                <h1 class="rttitleEmail">{{ userDetails.Email == '' ? 'Null' : userDetails.Email }}</h1>
            </ion-item>
            <ion-list ng-show="home_var.userPresent() == 0 ? true : false">
                <ion-item class="col text-center" menu-toggle ng-click="redirect_urls.home()"><img class="leftsidelogo" src="img/logo.png"></ion-item>
                <ion-list class="col text-center"><span class="colorchanged col-50 text-center" on-tap="signOut()">Login</span> <span class="colorchanged col-50 text-center" on-tap="signin()"> or Sign Up</span>
                </ion-list>
                <!-- ui-sref="home.restaurants" -->
            </ion-list>
            <ion-list>
                <ion-item menu-toggle ng-click="redirect_urls.home()">Home</ion-item>
                <!-- ui-sref="home.restaurants" -->
            </ion-list>
            <ion-list>
                <ion-item menu-toggle ng-click="redirect_urls.map()">Map View</ion-item>
            </ion-list>
            <ion-list ng-show="home_var.userPresent() == 1 ? true : false">
                <ion-item menu-toggle ng-click="redirect_urls.myloyalbonus()">My Loyal Bonus</ion-item>
                <!-- ui-sref="home.restaurants" -->
            </ion-list>
            <ion-list ng-show="home_var.userPresent() == 1 ? true : false">
                <ion-item menu-toggle ng-click="redirect_urls.my_membership()">My Membership</ion-item>
                <!-- ui-sref="home.membership" -->
            </ion-list>
            <ion-list ng-show="home_var.userPresent() == 1 ? true : false">
                <ion-item menu-toggle ng-click="redirect_urls.account_settings()">Account Setting</ion-item>
                <!-- ui-sref="home.account" -->
            </ion-list>
            <ion-list>
                <ion-item menu-toggle ng-click="redirect_urls.invite_friend()">Invite a Friend</ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-toggle ng-click="redirect_urls.aboutus()">About Loyal Bonus</ion-item>
            </ion-list>
            <ion-list>
                <ion-item class="new-color-loyal" on-tap="signOut()">{{ home_var.userPresent() == 1 ? 'Sign Out' : 'Sign Up' }}</ion-item>
                <!-- ui-sref="signin" -->
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu-content side-menu-content drag-content="false">
        <ion-header-bar class="bar-positive transparent-nav" id="restaurants">
            
            <div class="buttons">
                <button class="button button-icon
                    {{ home_var.magnifyOrBack() == 'RestaurantController' ||
                       home_var.magnifyOrBack() == 'BusinessController'   ?
                       'ion-search' : 'ion-arrow-left-c'
                    }}" ng-click="
                    home_var.magnifyOrBack() == 'RestaurantController' ||
                    home_var.magnifyOrBack() == 'BusinessController'   ?
                    goSearchHandler() : goBackHandler()
                    ">
                </button>
            </div>    
                <div class="title center">
                    <!-- <label ng-show="showMe" > -->
                        <form class="item item-input new_margin" ng-show="showMe" ng-submit="home_var.homesearch.setValue(home_var.homesearch.value)">
                            <input type="text"  ng-model="home_var.homesearch.value" placeholder="Search for restaurants" >
                            <span class="ion-search paddingLR10" on-tap="home_var.homesearch.setValue(home_var.homesearch.value)"  ></span><!-- ng-show="loadmoreNgShow" -->
                        </form>
                         <!-- <div ng-show = "IsVisible"></div> -->
                    <!-- </label> -->

                    <span class="search-vertical" ng-show="home_var.homeheading.Visibility()" >
                        {{ home_var.homeheading.text()  }} <i ng-click="home_var.homeheading.deleteSearch()" class="font-size-10 ion-close-round font-color-white "></i>
                    </span>
                    <span class="text-vertical" ng-show="home_var.kaseyDinnerHeading.text() == '' ? false : true" >
                        {{ home_var.kaseyDinnerHeading.text() }}
                    </span>
                    <span class="text-vertical" ><!--ng-show="home_var.businessMap.text() == '' ? false : true"-->
                        {{ home_var.businessMap.text() }}
                    </span>

                </div>
             <div class="buttons">   
                <button class="button button-clear icon ion-navicon-round" ng-click="toggleLeft()"></button>
            </div>

        </ion-header-bar>
        <div ui-view="body"></div>
    </ion-side-menu-content>

</ion-side-menus>