<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu side="left" id="restaurants">

        <ion-content>
            <ion-item class="rtblock">
                <h1 class="rttitle">{{ userDetails.FullName }}</h1>
                <h1 class="rttitleEmail">{{ userDetails.Email }}</h1>
            </ion-item>
            <ion-list>
                <ion-item menu-toggle ng-click="redirect_urls.home()">Home</ion-item>
                <!-- ui-sref="home.restaurants" -->
            </ion-list>
            <ion-list>
                <ion-item menu-toggle>My Loyal Bonus</ion-item>
                <!-- ui-sref="home.restaurants" -->
            </ion-list>
            <ion-list>
                <ion-item menu-toggle ng-click="redirect_urls.my_membership()">My Membership</ion-item>
                <!-- ui-sref="home.membership" -->
            </ion-list>
            <ion-list>
                <ion-item menu-toggle ng-click="redirect_urls.account_settings()">Account Setting</ion-item>
                <!-- ui-sref="home.account" -->
            </ion-list>
            <ion-list>
                <ion-item menu-toggle >Invite a Friend</ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-toggle >About Loyal Bonus</ion-item>
            </ion-list>
            <ion-list>
                <ion-item class="new-color-loyal" on-tap="signOut()">Sign Out</ion-item>
                <!-- ui-sref="signin" -->
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu-content>
        <ion-header-bar class="bar-positive transparent-nav" id="restaurants">
            <div class="buttons">
                <button class="button button-clear icon ion-navicon-round" ng-click="toggleLeft()"></button>
                <h1 class="title">{{Restaurants}}</h1>
                <button class="button button-icon {{ home_var.magnifyOrBack() == 'RestaurantController' ? 'ion-search' : 'ion-arrow-left-c' }}"
                ng-click="home_var.magnifyOrBack() == 'RestaurantController' ? goSearchHandler() : goBackHandler()"></button>
            </div>
        </ion-header-bar>
        <div ui-view="body"></div>
    </ion-side-menu-content>
   
</ion-side-menus>