<div id="Aboutus">
    <ion-view class="new_bg abc abcc">
        <ion-content>
            <div id="logo">
                <img src="img/logo.png">
            </div>
            <div class="padding new_top">
                <div class="row">
                    <div class="col">
                        <p class="text-left ">
                            <a ui-sref="privacypolicy" class="already-loyalbonus" href="#/privacypolicy/">privacy policy</a>
                        </p>
                    </div>
                    <div class="col">
                        <p class="text-center">
                            <a href="javascript:void(0)" class="already-loyalbonus">version 1</a>
                        </p>
                    </div>
                    <div class="col">
                        <p class="text-right ">
                            <a ui-sref="disclaimer" class="already-loyalbonus" href="#/disclaimer/">disclaimer</a>
                        </p>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>