<!-- My loyalbonus -->
<div id="order_reciept">
    <ion-view>
        <ion-content>

            <ion-refresher pulling-text="Pull to refresh..." on-refresh="Test()">
            </ion-refresher>
            
            <div>
                <!-- Start : design reciept -->    

                <h3 class="padding-right-5 padding-left-5">Order Receipt</h3>
                <div class="row paddingLeftRight-0">
                    <div class="col">
                        <p style="margin:0;">Ordered on 6/23/2016&nbsp;</p>
                    </div>
                    <div class="col">
                        Order# 131111559953395318
                    </div>
                    <div class="col">
                    </div>
                </div>
               
                <div>
                    <div class="row paddingLeftRight-0">
                        <p class="col margin-bottom-0"><b>Delivery Method: Ship via DHL</b></p>
                        <p class="col margin-bottom-0"><b>Payment Method</b></p>
                        <p class="col margin-bottom-0"><b>Order Summary</b></p>
                    </div>
                    <div class="row paddingLeftRight-0">
                        <p class="col margin-bottom-0">Karan</p>
                        <p class="col margin-bottom-0"><img src="img/gtpay.png" width="50px"></p>
                        <p class="col margin-bottom-0">Item Subtotal: &nbsp;&nbsp;        N 256099.50</p>
                    </div>
                    <div class="row paddingLeftRight-0">
                        <p class="col margin-bottom-0">Testing</p>
                        <p class="col margin-bottom-0"></p>
                        <p class="col margin-bottom-0">Shipping Cost:&nbsp;&nbsp;         N 0.00</p>
                    </div>
                    <div class="row paddingLeftRight-0">
                        <p class="col margin-bottom-0">Adamawa Gireri</p>
                        <p class="col margin-bottom-0"></p>
                        <p class="col margin-bottom-0">Grand Total:  &nbsp;&nbsp;         N 256099.50</p>
                    </div>
                </div>
                
                <div class="row paddingLeftRight-0 responsive-sm">
                    <p class="col margin-bottom-0 padding-bottom"><b>Seller Information</b> </p>
                    <p class="col margin-bottom-0 padding-bottom" style="color:#07c8f3;">Cell phones &amp; Accessories</p>
                    <p class="col margin-bottom-0 padding-bottom">Plot 10, Acme Road, Ogba</p>
                    <p class="col margin-bottom-0 padding-bottom">Ibeju-Lekki, Lagos </p>
                    <p class="col margin-bottom-0 padding-bottom">Phone #: 7875454542</p>
                </div>

                <!-- </div> -->
                    <!-- <h3>Shipped on 18/05/2016</h3> -->
                <div class="row paddingLeftRight-0 responsive-sm">
                    <h4 class="col" style="font-weight:bold;">Shipped on 18/05/2016</h4>
                    <div class="col">
                        <img src="https://pzportalvhdsl86lr30375p3.blob.core.windows.net/vhds/s-l1600(1).jpg" alt="">
                    </div>
                    <div class="col">
                        <p><b>Apple iPhone 6 16GB Factory Unlocked Smartphone Silver</b></p>
                        <p>Condition:  
                        New: A brand-new, unused, unopened, undamaged item in its original packaging (where packaging is applicable). Packaging should be the same as what is found in a retail store, unless the item is handmade or was packaged by the manufacturer in non-retail packaging, such as an un-printed box or plastic bag. See the seller's listing for full details. See all condition definitions
                        Brand:  iPhone
                        Operating System:   iOS Lock Status:    Network Unlocked
                        Storage Capacity:   16GB    MPN:    Does Not Apply
                        UPC:     Does Not Apply</p>
                    </div>
                    <div class="col">
                        <b>Price</b><span> N: 256099.50 </span>
                        <p><b>Quantity</b> : 1</p>
                        <button type="button" class="col btn btn-default1">Buy it Again</button>
                    </div>
                </div>


                <div class="row paddingLeftRight-0 responsive-sm">
                    <button type="button" class="col btn btn-default1">Track Package</button>
                    <button type="button" class="col btn btn-default2">Return or replace items</button>
                </div>

            
            </div>


            <!-- End : design reciept -->

        </ion-content>
    </ion-view>

</div>