<div id="ResetPassword">
    <ion-view class="new_bg">
        <form name="frmrest" novalidate ng-submit="resetPass.rest()">
            <ion-content>
                <ion-refresher
                    pulling-text="Pull to refresh..."
                    on-refresh="Test()">
                </ion-refresher>
                <div id="logo">
                    <img src="img/logo.png">
                </div>
                <ion-list>
                    <h5 class="loyal-kaseydiner">Forgot Your Password</h5>
                    <p class="restpassowrdtext">Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code. You will be able to choose a new password for your account.</p>
                    <p class="restpassowrdtext">{{ resetPass.msg }}</p>
                </ion-list>
                <div class="list list-inset">
                    <div class="padding">
                        <label class="item item-input new_margin">
                            <input type="text" class="email" name="email" ng-model="rePassword.email" ng-required="true" placeholder="Email">
                        </label>
                        <div role="alert">
                        </div>
                    </div>
                    <div class="padding">
                        <button type="submit" ng-disabled="!resetPass.emailValidation()" class="button button-block bar bar-header bar-balanced">
                            <span class="loyalbonus_cap">Reset</span>
                            <i ng-show="loading" class="ion-loading-b"></i>
                        </button>
                    </div>
                    <div class="padding">
                        <a class="button-clear" ng-click="myGoBack()">
                            <i class="ion-arrow-left-c"></i> Back
                        </a>
                    </div>
                </div>
            </ion-content>
        </form>
    </ion-view>
</div>