<!-- My loyalbonus -->
<div id="Milestones">
    <ion-view>
        <ion-content>
            <div>  <!-- outer div -->
              <!-- <h1 class="text-center">Scanned Business</h1> -->
                <div class="row border-milestone" ng-repeat="(key, value) in myloyalbonus.print">
                    <div class="col-50">
                    
                        <img ng-src="{{ value.Image == null ? 'img/placeholder.jpg' : value.Image }}" ng-click="open_detail_page(d.BusinessID)">
                        
                    </div>

                    <div class="col-50">
                        <p class="title" ng-click="open_detail_page(d.BusinessID)">{{ value.Name }}</p>
                        <div class="bar-balanced">
                            <label class="checkbox" ng-repeat="(key, value) in myloyalbonus.printTick(value.uservisits)">
                                <img src="img/tick.png" >
                            </label>
                            <label class="round" ng-repeat="(key, value) in myloyalbonus.printNonTick(value.uservisits)">
                                <span class="round-span">10%</span>
                                <p>off</p>
                            </label>
                            <label class="checkbox" ng-repeat="(key, value) in myloyalbonus.printGift(value.uservisits)">
                                <img src="img/icon.png">
                            </label>
                        </div>
                    </div>
                </div>


            </div>

            <!-- <div class="bar bar-footer bar-positive">
                <div class="title">SCAN NOW</div>
            </div> -->
        </ion-content>
    </ion-view>

</div>