<div id="Product">
    <ion-view>
        <ion-content>
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="Test()">
            </ion-refresher>
            
            <div id="logo">
                <!-- ProductImageUrl , ProductImages-->
                <img id="productimages" src="img/businesslisting.jpg">

            
            <div class="detail-banner-left">
                <div class="detail-banner-info">
                    <div class="detail-label">Restaurant</div>
                    <div class="detail-verified">Verified</div>
                </div>
                <!-- /.detail-banner-info -->
                <h2 class="detail-title"> Fox </h2>
                <div class="detail-banner-address">
                    <i class="famap"></i> News ,Ajah Lagos
                </div>
                <!-- /.detail-banner-address -->
                <div class="detail-banner-left_inner inline-block vertical-m">
                    <div class="reviews-star" ng-bind-html=helperFunction.reviews(2)></div>
                    <!-- /.detail-banner-rating -->
                </div>
            </div>
           </div> 
            <div class="padding">
                <p class="row fontsize">Products</p>
            </div>
            <div class="padding">
                <hr>
            </div>
            <div ng-repeat="(key, prod) in datadeal">
                <div id="logo">
                    <img id="productimages" class="margintop20" ng-src="{{prod.ProductImageUrl == null ? 'img/placeholder.jpg' : prod.ProductImageUrl }}"
                        ng-click="helperFunction.productdetails(prod.BusinessId , prod.ProductId )">
                </div>
                <div class="row">
                    <div class="col-50">
                        <div class="disable-user-behavior">
                            <div class="colorblack"> ₦ {{ prod.Price }}</div>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="disable-user-behavior">
                            <div class="list">
                                <div class="colorblack alignright "> Loyality Discount</div>
                                <div class="color33cd5f"> ₦ {{ prod.LoyalDiscount }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="color42ae9d row"> {{prod.ProductName }}
                    </div>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar class="footer-bar-custom bar-positive">
            <div class="title center" on-tap="userPresent() == 1 ? scanBarcode() : helperFunction.go_to_login()">{{ userPresent() == 1 ? 'SCAN NOW' : 'LOGIN' }}</div>
        </ion-footer-bar>
    </ion-view>
</div>