<div id="Product">
    <ion-view>
        <ion-content>
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="Test()">
            </ion-refresher>
            <div id="logo">
                <!-- ProductImageUrl , ProductImages-->
                <img id="productimages" src="img/kaseydiner_distr.jpg">
            </div>
            <div class="padding">
                <p class="row fontsize">Products</p>
            </div>
            <div class="padding">
                <hr>
            </div>
            <div ng-repeat="(key, prod) in datadeal">
                <div id="logo">
                    <img id="productimages" class="margintop20" ng-src="{{prod.ProductImageUrl == null ? 'img/placeholder.jpg' : prod.ProductImageUrl }}" ui-sref="home.cart({ BusinessId : state_on() })">
                </div>
                <div class="row">
                    <div class="col-50">
                        <ion-list class="disable-user-behavior">
                            <ion-item class="colorblack"> ₦ {{ prod.Price }}</ion-item>
                        </ion-list>
                    </div>
                    <div class="col-50">
                        <ion-list class="disable-user-behavior">
                            <div class="list">
                                <ion-item class="colorblack alignright "> Loyality Discount</ion-item>
                                <ion-item class="color33cd5f"> ₦ {{ prod.LoyalDiscount }}</ion-item>
                            </div>
                        </ion-list>
                    </div>
                </div>
                <div class="row">
                    <ion-item class="color42ae9d row"> {{prod.ProductName }}
                    </ion-item>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar class="footer-bar-custom bar-positive">
            <div class="title center" on-tap="userPresent() == 1 ? scanBarcode() : helperFunction.go_to_login()">{{ userPresent() == 1 ? 'SCAN NOW' : 'LOGIN' }}</div>
        </ion-footer-bar>
    </ion-view>
</div>