<div id="Cart">
    <ion-view>
        <ion-content overflow-scroll="true">
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="Test()"></ion-refresher>
            <div id="logo">
                <!-- ProductImageUrl , ProductImages-->
                <img id="productimages" src="img/kaseydiner_distr.jpg">
            </div>
            <div ng-repeat-once="(key, productDetail) in datadeal ">

                <div class="slider image">
                    <!-- <div ng-repeat="d in heading_image">{{d.ImageName}}</div> -->
                    <img ng-repeat="d in heading_image" class="slide slide-animation nonDraggableImage" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                        ng-hide="!isCurrentSlideIndex($index)" ng-src="{{d.ImageName}}">
                    <a class="arrow prev" href="#" ng-click="nextSlide()"><i class="ion-chevron-left"></i></a>
                    <a class="arrow next" href="#" ng-click="prevSlide()"><i class="ion-chevron-right"></i></a>
                </div>
                <div class="col center">
                    <span class="Enlarge">
                <i class="ion-android-add-circle" aria-hidden="true"></i >Enlarge </span>
                </div>
                <div class="col center">
                    <span class="shoppingdesciptionnew"> {{ datadeal.ProductName }} </span>
                </div>
                <div class="col center">
                    <span class="shoppingdesciptioncolor33cd5f"> ₦ {{datadeal.PriceAfterBusinessDiscount}}</span>
                </div>
                <div class="col center">
                    <div class="col-50 center">
                        <span class="Cartloyality"> {{ datadeal.LoyalDiscount}} % Loyality Discount</span>
                    </div>
                    <div class="col-50 center">
                        <span class="cartredcolornumber">₦ {{ datadeal.Price }}</span>
                    </div>
                </div>
                <div class="col center">
                    <button class="button btninfo"> Add To Cart</button>
                </div>
                <div class="padding">
                    <div class="col margintop20 cartdescripttion">
                        <h4 class="titlecart col">Description</h4>
                        <p class="textcart col">{{ datadeal.Description }}</p>
                    </div>
                </div>
                <div class="row padding">
                    <span class="titlecart row">Store Policy</span>
                </div>
                <div class="padding">
                    <!-- <img src="img/shipping_detail.PNG"> -->
                    <div class="row borderbottome2e2e2">
                        <div class="col-10 margintop5">
                            <img src="img/shipping.png">
                        </div>
                        <div class="col-90 margintop16 ">
                            <label class="shippingWeight">Shipping:</label>
                            <span class="col pull-left freedays">FREE Two Day Get it by 4/15/2016 for 50301 <a class="editcolor" href="#">Edit </a> Order by 1:00 p.m. CT on 4/13/2016</span>
                        </div>
                    </div>
                    <div class="row bordertope2e2e2">
                        <div class="col-10 margintop5">
                            <img src="img/store.png">
                        </div>
                        <div class="col-90 margintop16 ">
                            <label class="storePickup">Store Pickup:</label>
                            <span class="col-80 pull-left freedays">Available at most stores <a class="checkstore" href="#">Check Stores </a> <label class="learn">Learn more about store pickup</label></span>
                        </div>
                    </div>
                </div>

            </div>
        </ion-content>
        <ion-footer-bar class="footer-bar-custom bar-positive">
            <div class="title center" on-tap="userPresent() == 1 ? scanBarcode() : helperFunction.go_to_login()">{{ userPresent() == 1 ? 'SCAN NOW' : 'LOGIN' }}</div>
        </ion-footer-bar>
    </ion-view>
</div>