<div id="kaseydiner">
    <ion-view>
        <ion-content>
            <div id="logo">
                <!-- <a ng-click="goToMap(datadeal.BusinessID)" class="already-loyalbonus button buttonListView">MapView</a> -->
                <a ng-click="Lovedpage.enableLoved(); Lovedpage.loadKaro();" class="already-giveHeart button buttonListViewLove">Give Heart</a>

                <img ng-src="{{ datadeal.Image == null ? 'img/placeholder.jpg' : datadeal.Image }}">
                <div class="reviews-star" ng-bind-html=helperFunction.reviews(datadeal.reviews)></div>
            </div>
            <div class="bar-balanced newloyalcheckbox">
                <label class="checkbox" ng-repeat="(key, value) in myloyalbonus.printTick(datadeal.uservisits)">
                    <img src="img/tick.png">
                </label>
                <label class="round" ng-repeat="(key, value) in myloyalbonus.printNonTick(datadeal.uservisits)">
                    <span class="round-span">10%</span>
                    <p>off</p>
                </label>
                <label class="checkbox" ng-repeat="(key, value) in myloyalbonus.printGift(datadeal.uservisits)">
                    <img src="img/icon.png">
                </label>
            </div>
            <div class="row">
                <div class="col-50">
                    <ion-list>
                        <ion-item class="wth-border"><i class="ion-ios-heart"></i><strong>{{ datadeal.lovecount }}</strong><span class="color-chnage">people love it</span>
                        </ion-item>
                        <ion-item class="wth-border"><i class="ion-ios-star-outline"></i><strong>{{ datadeal.reviews }}/ 5</strong><span class="color-chnage">from reviews</span></ion-item>
                    </ion-list>
                </div>
                <div class="col-50">
                    <ion-list>
                        <ion-item class="wth-border border-bottom">
                            <i class="ion-load-d"></i> Loyal Discount:{{ datadeal.BonusDiscountToCust }}
                        </ion-item>
                        <ion-item class="wth-border border-bottom" ng-click="showPopup(datadeal.BonusDiscount)"><img style="position: relative; right: 3px;" src="img/bonus.png"> Bonus Discount:{{ datadeal.BonusDiscount }} OFF</ion-item>
                        <ion-item class="wth-border" ng-click="showPopupFor(datadeal.uservisits)">Visit 10 times to receive Bonus.</ion-item>
                    </ion-list>
                </div>
            </div>

            <div class="row loyal-btdinner">
                <h2 class="loyal-kaseydiner">{{ datadeal.Name }}</h2>
            </div>
            <div class="row" ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
                <p class="loyal-kaseydinerpara">{{ datadeal.Description }}</p>
            </div>
            <div ng-click="toggleItem(item)" class="item-expand-footer">
                <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i> {{ isItemShown(item)
                ? 'Less' : 'More' }}
            </div>

            <div class="row paddingLeftRight-0">
                <button class="button button-block button-positive" ng-click="helperFunction.write_review(datadeal.BusinessID, datadeal.Image == null ? 'img/placeholder.jpg' : datadeal.Image, datadeal.reviews)">Write a review</button>
            </div>
            <!-- <div class="padding"> -->
                <!-- <div class="newrow" ng-hide="newScope.showMe">{{ newScope.Lat == null ? 'Address not available' : newScope.Lat }}</div> -->
            <!-- </div> -->
            <div class="row paddingLeftRight-0"><!-- ng-show="showMe" -->
                <ng-map zoom="8" center="{{newScope.center}}" style="width:100%">
                    <marker ng-repeat="value in newScope.positions track by value" position="{{value}}"></marker>
                </ng-map>
            </div>
            <div class="icon_kasy" ng-repeat="value in newScope.address">
                <img class="icon_kasy" src="img/121.png">
                <span class="icon_kasy_new">{{ value }}</span>
            </div>
            <div ng-show="newScope.center ? false : true" class="row">
                <div class="newrow">Address not available</div>
            </div>
            <!-- <footer class="bar bar-footer bar-positive"> -->
            <!-- <div class="title" on-tap="scanBarcode()">SCAN NOW</div> -->
            <!-- <button class="title" ng-click="scanBarcode()">SCAN NOW</button> -->
            <!-- </footer> -->
        </ion-content>
        <ion-footer-bar class="footer-bar-custom bar-positive">
            <div class="title" on-tap="scanBarcode(); showAlert()">SCAN NOW</div>
        </ion-footer-bar>
    </ion-view>
</div>