<div id="kaseydiner">
    <ion-view>
        <ion-content>
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="Test()">
            </ion-refresher>
            <div id="logo">
                <!-- <a ng-click="goToMap(datadeal.BusinessID)" class="already-loyalbonus button buttonListView">MapView</a> {{ isIOS == true ? 'addclassiosisloved' : ''}}-->
                <a ng-click="datadeal.IsLoved == true ? Lovedpage.loadKaro(false) : Lovedpage.loadKaro(true)" class="already-giveHeart {{ isAndroid == true ? '' : 'addclassiosisloved' }} {{ userPresent() == 1 ? '' : 'display_none_imp' }} button buttonListViewLove {{ datadeal.IsLoved == true ? 'loveU':''}}"><img class="kaseydinnerimages" src="img/giveheatimg.png">{{ datadeal.IsLoved == true ? 'Remove Heart':'Give
                    Heart'}}
                </a>
                <img ng-src="{{ datadeal.Image == null ? 'img/placeholder.jpg' : datadeal.Image }}">
                <div class="reviews-star" ng-bind-html=helperFunction.reviews(datadeal.reviews)></div>
            </div>
            <!-- {{ datadeal }} -->
            <div ng-show="userPresent() == 1 ? true : false" class="bar-balanced newloyalcheckbox">
                <div class="col-90 center col-offset-20">
                    <label class="checkbox" ng-repeat="(key, value) in myloyalbonus.printTick(datadeal.uservisits, datadeal.BonusDiscountToCust)">
                    <img src="img/tick.png">
                </label>
                <label class="round" ng-repeat="(key, value) in myloyalbonus.printNonTick(datadeal.uservisits, datadeal.BonusDiscountToCust)">
                    <span class="round-span">10%</span>
                    <p>off</p>
                </label>
                    <label class="checkbox" ng-click="showPopupMy(datadeal.TotalReceivedBonus)" ng-repeat="(key, value) in myloyalbonus.printGift(datadeal.uservisits)">
                    <img src="img/icon.png">
                </label>
                </div>
            </div>
            <div class="row">
                <div class="col-50">
                    <ion-list>
                        <ion-item class="wth-border"><i class="ion-ios-heart"></i><strong>{{ datadeal.lovecount }}</strong><span class="color-chnage">people love it</span>
                        </ion-item>
                        <ion-item class="wth-border"><i class="ion-ios-star-outline"></i><strong>{{ datadeal.reviews }}/ 5</strong><span class="color-chnage">from {{ datadeal.TotalReviewsGiven }} reviews</span>
                        </ion-item>
                        <!-- <ion-item class="wth-border" ng-click="showPopupMy(datadeal.TotalReceivedBonus)"><img style="position: relative; right: 3px;" src="img/bonus.png"> My Bonus : {{ datadeal.TotalReceivedBonus }}</ion-item> -->
                    </ion-list>
                </div>
                <div class="col-50">
                    <ion-list>
                        <ion-item class="wth-border border-bottom">
                            <i class="ion-load-d"></i> Loyal Discount:{{ datadeal.LoyalDiscount }}
                        </ion-item>
                        <ion-item class="wth-border border-bottom" ng-click="showPopup(datadeal.BonusDiscount)"><img style="position: relative; right: 3px;" src="img/bonus.png"> Bonus Discount:{{ datadeal.BonusDiscount
                            }} OFF</ion-item>
                        <ion-item class="wth-border" ng-click="showPopupFor(datadeal.uservisits)">Visit 10 times to receive Bonus.</ion-item>
                    </ion-list>
                </div>
            </div>

            <div class="row loyal-btdinner">
                <h2 class="loyal-kaseydiner">{{ datadeal.Name }}</h2>
            </div>
            <div class="row" ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
                <p class="loyal-kaseydinerpara">{{ datadeal.Description }}</p>
            </div>
            <div ng-click="toggleItem(item)" class="item-expand-footer">
                <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i> {{ isItemShown(item) ? 'Less' : 'More' }}
            </div>

            <div ng-show="userPresent() == 1 ? true : false" class="row paddingLeftRight-0">
                <button class="button button-block button-positive" ng-click="helperFunction.write_review(datadeal.BusinessID, datadeal.Image == null ? 'img/placeholder.jpg' : datadeal.Image, datadeal.reviews)">Write a review</button>
            </div>
            <!-- <div class="padding"> -->
            <!-- <div class="newrow" ng-hide="newScope.showMe">{{ newScope.Lat == null ? 'Address not available' : newScope.Lat }}</div> -->
            <!-- </div> -->
            <div class="row paddingLeftRight-0">
                <!-- ng-show="showMe" -->
                <ng-map zoom="8" center="{{newScope.center}}" style="width:100%">
                    <marker ng-repeat="value in newScope.positions track by value" position="{{value}}"></marker>
                </ng-map>
            </div>
            <div class="icon_kasy" ng-repeat="value in newScope.address">
                <img class="icon_kasy" src="img/121.png">
                <span class="icon_kasy_new">{{ value }}</span>
            </div>
            <div ng-show="newScope.center ? false : true" class="row">
                <div class="newrow">Address not available</div>
            </div>

            <!-- <ion-list class=center>
                <p class="row margin-top-10">See Store to purchase item(s)</p>
                <button class="button button-balanced margin-bottom-30">Enter Store</button>

            </ion-list>

            <div id="logo">
                <img src="img/kaseydiner_distr.jpg">
            </div>
            <div class="row">
                <div class="col-50">
                    <ion-list class="disable-user-behavior">
                        <div class="list">
                            <ion-item class="wth-border item ng-binding colorblack"> ₦ 782565.00</ion-item>
                        </div>
                    </ion-list>
            
                </div>
                <div class="col-50">
                    <ion-list class="disable-user-behavior">
                        <div class="list">
                            <ion-item class="wth-border item ng-binding colorblack alignright "> Loyality Discount</ion-item>
                            <ion-item class="wth-border item ng-binding color33cd5f"> ₦ 586923.75</ion-item>
                        </div>
                    </ion-list>
            
                </div>
            </div>
            <div class="col-100">
                <ion-item class="wth-border item ng-binding color42ae9d"> Gramercy Park Queen Bed in Weathered Gray
                </ion-item>
            </div> -->
        </ion-content>
        <ion-footer-bar class="footer-bar-custom bar-positive">
            <div class="title" on-tap="userPresent() == 1 ? scanBarcode() : helperFunction.go_to_login()">{{ userPresent() == 1 ? 'SCAN NOW' : 'LOGIN' }}</div>
            <!-- ng-show="userPresent() == 1 ? true : false" -->
            <!-- <div ng-hide="userPresent() == 1 ? true : false" class="title" ui-sref="signin">Login</div> -->
        </ion-footer-bar>
    </ion-view>
</div>