/**** custom css ****/
/**
 * all padding come here
 */
.paddingLR10 {
	padding-left: 10px;
	padding-right: 10px;
}
.padding-top-8 { padding-top: 8px; }
.padding-top-10 {
	padding-top: 10px;
}
.padding-bottom-10 {
	padding-bottom: 10px;
}
.padding-TB-5 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.paddingLeftRight-0 { padding-left: 0; padding-right: 0; }
.paddingLeftRight-15 { padding-left: 15px; padding-right: 15px; }
.padding-right-5 { padding-right: 5px; }
.padding-left-5 { padding-left: 5px; }



.fontsize
{
	font-size: 20px;
    padding: 15px 0px 0px 5px;
    margin: 0px
}
/**
 * all margins come here
 */
.margin-top-minus1 { margin-top: -1px !important; }
.margin-bottom-0 { margin-bottom: 0; }
.margin-right-5 { margin-right: 5px; }
.margin-top-10 { margin-top:15px; }
.margin-top-15 { margin-top: 15px; }



#restaurants .margin-top-10 { margin-top:15px; }


/**Border**/
.border-TB-1 {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.border-bottom-1 {
	border-bottom: 1px solid #ccc !important;
    background-color: unset;
        padding: 5px;
}
.border-top-0 { border: 0px; }


#Membership .list.list-inset
{
background-color: unset;
}

.width-100 {
	width: 100%;
}

.display_none_imp {
	display: none;
}


/**
 *	bacic
 */
.text-align-center 	{ text-align: center; }

.font-size-10 		{ font-size: 10px; }

.font-color-white 	{
	color: #fff;
    padding: 2px;
    margin: 2px;
    position: relative;
    top: 2px;
}

.text_shadow_black { text-shadow: 1px 1px #000; }


.highlightThis.activated {
	font-weight: bold;
}


/**restaurants.html**/
.loadingButton {
	/*background-color: #cccccc;*/
    font-size: 20px;
    opacity: 0.56;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}



/*****restaurant detail page****/
.checkbox > img {
        width: 35px;
}
#kaseydiner .col-offset-20
{
	margin-left:3%
}



/******SignIn page******/
.loyalbonus_img {
	color: #fff;
	background-color: #617AAC;
	padding: 12px 25px;
}
.loyalbonus_img_business {
	color: #fff;
    margin-left: 13px;
    margin-top: 35px;
}
.loyalbonus_img .icon		{
	font-size: 21px;
    position: relative;
    top: 2px;
}
.loyalbonus_img.activated 	{
	background-color: #3B5998;
}
.popup-sub-title {
    margin: 16px 0 0 0;
    padding: 4px;
    font-weight: normal;
    font-size: 18px;
}


/*****Milestones******/
#Milestones .title {
	margin-bottom: 0;
    padding-left: 6px;
}


.already-loyalbonus.activated {

}

/*****Account page****/
.color-reviewblue.activated {
	color:#387EF5;
	font-weight: bold;
}

#Review .Pros, #Review .Cons
{
	border: 1px solid #000;
    padding: 6px;
    margin: 8px 0 0 0;
    width: 90%;
}

/****Review page***/

#Review #logo { position: relative; }
#Review #logo .reviews-star {
	bottom: 2px;
    position: absolute;
    right: 0;
}
#Review .highlightThis.activated .title {
	font-weight: bold;
}


#home img.leftsidelogo {
padding: 5px;
    margin: 5px;
        width: 60%;

}
#home .ion-item
{
	border-bottom: none;
}
#home .colorchanged
{
	color: #387ff5;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 500;
}
#home .col:first-child
{
border:none;
}
#home .addclassios
{
	    /* top: 18px; */
        top:1px;
}
#Businessmap .addclassiostext
{
	top: 15px;
	position: relative;
}

#kaseydiner .addclassiosisloved
{
	top:22px;
}

#kaseydiner .button.button-balanced
{
	    line-height: 35px;
	    min-height: 27px;
	    margin-left: 45px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
#kaseydiner .wth-border.item.ng-binding.colorblack
{
	color:#000;
	font-size: 15px;
	font-weight: 600;
}
#kaseydiner .wth-border.item.ng-binding.color33cd5f
{
	color:#33cd5f;
}

#kaseydiner .wth-border.item.ng-binding.color42ae9d
{
	color:#42ae9d;
	font-size: 19px;
}
#Shoppingcart img#shoppingimg 
{
	width:95%;
	/* margin-left:6%; */
}
.shoppingdesciption
{
	font-size: 17px;
    color: #000;
    font-weight: 500;
    float: left;
	
}
#Shoppingcart .shoppingsmall
{
	float: left;
	margin-top: 10px;
	color:#63615a;
	font-size: 10px;
	margin-bottom: 3px;

}
#Shoppingcart .shoppingqty
{
	clear: both;
    float: left;
    /* margin-top: 5px; */
    color:#000;
	font-weight: 600;
	margin-right: 6px;
}
#Shoppingcart .qty {
    border: 1px solid #aaaaaa;
    padding: 11px;
    width: 30%;
    float: left;
    height: 20px;
    /* margin-top: 5px; */
    border-radius: 3px;
    text-align: center;

}
#Shoppingcart .offersshopping
{
	line-height: 31px;
    background-color: #009f8b;
    color: #fff;
    float: right;
    margin-top: -5px;
    min-height: 27px;
}
#Shoppingcart .brderbottom
{
	border-bottom: 1px solid #acabab;
	padding: 0px;
}
#Shoppingcart .brder
{
	border: 1px solid #acabab;
}
#Shoppingcart .wth-border.item.ng-binding.color33cd5f
{
	color: #33cd5f;
    background-color: unset;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
}
#Shoppingcart .bordertop
{
	border-top:1px solid #acabab;
	margin: 6px;
}
#Shoppingcart .shoppingloyality
{
	font-size: 12px;
}
#Shoppingcart .col-offset-10
{
	    margin-left: 2%;
}
.redcolor
{
	color: red;
    font-size: 18px;
    font-weight: bold;
    float: right;
    background-color: unset;
    border: 0px;
    padding: 2px;
    position: relative;
    top: -20px;
    right: 34px;
}
.redcolornumber
{
	color: red;
    font-size: 18px;
    background-color: unset;
    border: 0px;
    padding: 2px;
    text-decoration: line-through;
    position: relative;
    top: -25px;
    right: -83px;
    
}
.subtotal
{
	color:#008000;
	font-size: 18px;
	font-weight: 600;
}
.subtotalamount
{
	color:#008000;
	font-size: 18px;
	font-weight: 600;
	clear:both;
}
.checkoutbutton
{
	    background-color: #009f8b;
	    padding:0 47px;
	    color:#fff;
	    line-height: 40px;
	    min-height: 25px;
	    margin-bottom: 10px;
}
.margintop
{
	margin-top: 25px;
}
.margintop16
{
    margin-top: 16px;
}
.margintop5
{
    margin-top: 5px;
}
.margintop15
{
	margin-top: 15px;
}
.margintop20
{
	margin-top: 20px;
}
.margintop40
{
    margin-top: 40px;
}
.continueshoppingbutton
{
		padding:0 12px;
	    color:#fff;
	    line-height: 40px;
	    min-height: 25px;
	    margin-bottom: 10px;
}
#Product #productimages
{
	width:100%;
    height: 100%; 
}
#Product .colorblack {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    background-color: unset;
    border:0px;
   padding: 16px 16px 0 16px;
}
#Product .color33cd5f {
    color: #33cd5f;
    font-size: 15px;
    font-weight: 600;
    background-color: unset;
    border:0px;
    padding: 5px 16px 16px 30px;
}
#Product .color42ae9d {
    color: #42ae9d;
    font-size: 15px;
    background-color: unset;
    border:0px;
    padding: 5px 16px 16px 16px;
}
#Product .brdertop
{
	border-top: 1px solid #acabab;
}

#Shoppingcart .slider {
    width: 456px;
    height: 350px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

#Shoppingcart .slide {
    position: absolute;
    top: 0;
    left: 0;
}

#Cart .arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 45%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../img/blank.gif) no-repeat;
}

#Cart .arrow.prev {
    /* opacity: 0.2; */
    left: 25px;
    background-image: url(../img/paddle_previous_999.png);
    transition: 0.2s linear all;
}

#Cart .arrow.next {
    /* opacity: 0.2; */
       right: 25px;
    background-image: url(../img/paddle_next_999.png);
    transition: 0.2s linear all;
}

/* #Shoppingcart .arrow.prev:hover {
    opacity: 1;
    background-image: url(../img/paddle_prev_fff.png);
}

#Shoppingcart  .arrow.next:hover {
    opacity: 1;
    background-image: url(../img/paddle_next_fff.png);
} */

.shoppingdesciptionnew
{
	font-size: 20px;
    line-height: 22px;
    width: 75%;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.shoppingdesciptioncolor33cd5f
{

    color: #33cd5f;
    font-size: 15px;
    font-weight: 600;
    background-color: unset;
    /* border: 0px; */
    padding: 5px 16px 16px 16px;
    border-bottom: 1px solid #eee;
    width: 70%;
    text-align: center;
   
}

span.Cartloyality
{
	/* font-size: 11px; */
    position: relative;
    left: 20px;
    top: -10px;
}
span.cartredcolornumber
{
	/* font-size: 11px; */
    position: relative;
    left: 2px;
    top: -10px;
}
button.btninfo
{
	padding: 9px 40px;
    margin: 0px auto;
    font-size: 20px;
    display: block;
    background-color: #2A8FBD;
    width: 76%;
    line-height: 22px;
    color: #fff;
    min-height: 20px;
    border-radius: 1px;
}
#Cart div.col.cartdescripttion
{
	/* padding:15px; */
	border:1px solid #e2e2e2;
	float: left;
}
span.titlecart
{
	color:#47c0e6;
    padding:15px;
    border:1px solid #e2e2e2;
    float: left;
    margin-top: 15px;
}
h4.titlecart
{
    color:#47c0e6;
   
    float: left;
    margin-top: 15px;
}

p.textcart
{
	color:#999;
    font-size: 14px;
    font-weight: 400;
}
#Shoppingcart .col span.storecart
{
    padding: 15px;
    border: 1px solid #e2e2e2;
    float: left;
    margin: 15px 0 0 0;
    color: #47c0e6;
}
.Enlarge
{
    color: #009f8b; 
    
   
}
.Enlarge i{
  padding:2px;  
}


.borderbottome2e2e2
{
 border: 1px solid #e2e2e2;
 border-bottom:none;
}
.bordertope2e2e2
{
 border: 1px solid #e2e2e2;
 border-top:none;
}


label.shippingWeight
{
    font-weight: 600;
    font-size: 15px;
    float: left;
    padding: 0 10px 0px 2px;
    
}
label.storePickup
{
    font-weight: 600;
    font-size: 15px;
    float: left;
    padding: 0 10px 0px 2px;
    
}
span.freedays
{
    width: 60%;
    color: #575755;
    /* float: left; */
    font-size: 15px;
    margin-top: 0px;
    padding: 2px;

}
a.editcolor
{
    padding: 0px 4px 0 0px;
    color:#0761b7;
    text-decoration: none;
}
a.checkstore
{
    padding: 0px 4px 0 0px;
    color:#0761b7;
    text-decoration: none;
    float: left;
}
label.learn
{
   padding: 0px 4px 0 0px;
    color:#0761b7;
    text-decoration: none;
    float: left; 
}

#Invitefriend .emailaddresses
{
    border: 2px solid #e9e9e9;
}

.detail-label {
    background-color: #c6af5c;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 3px 15px 0px 15px
}

.detail-verified {
    background-color: #8dc63f;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 0px 0px 0px 10px;
    padding: 3px 15px 0px 15px;
    text-shadow: none;
    text-align: center;
}
.detail-banner-left h2 {
    color: #fff;
    font-size: 26px;
   
    margin-bottom: 10px;
    font-weight: normal;
}

#Cart .detail-banner-left h2 {
        /* text-align: left;
            display: inline-block; */
}
.detail-banner-address {
    color: #fff;
    font-weight: 300;
    text-shadow: 0px 0px 20px #000;
}
#Cart .detail-banner-address
{
        
       /*  float: left; */
           text-align: left;
}
#Cart .detail-banner-info
{
    /* float: left; */
        text-align: left;
}
.detail-banner-left {
    position: absolute;
               bottom: -10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 1;
}
.detail-banner-left {
        left: 15px;
}
#Product #logo
{
    position: relative;
}
.famap
{
    
    background: url(../img/mapion.png);
        width: 23px;
    height: 19px;
    float: left;
    margin-right: 4px;
    margin-top: -2px;
}
.zoom-done-button { color: #387EF5 !important; }

#Cart #logo
{
    position: relative;
}

#Cart .slider img#imgheight
{
    height: 200px;
        width: 100%;
}

