/**** custom css ****/
/**
 * all padding come here
 */
.paddingLR10 {
	padding-left: 10px;
	padding-right: 10px;
}
.padding-top-8 { padding-top: 8px; }
.padding-top-10 {
	padding-top: 10px;
}
.padding-bottom-10 {
	padding-bottom: 10px;
}
.padding-TB-5 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.paddingLeftRight-0 { padding-left: 0; padding-right: 0; }
.margin-top-10 {
	margin-top:15px;
}

/**
 * all margins come here
 */
.margin-top-minus1 {
	margin-top: -1px !important;
}
#restaurants .margin-top-10 {
	margin-top:15px;
}


/**Border**/
.border-TB-1 {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.border-bottom-1 {
	border-bottom: 1px solid #ccc !important;
}
.border-top-0 { border: 0px; }




.width-100 {
	width: 100%;
}

.display_none_imp {
	display: none;
}


/**
 *	bacic
 */
.text-align-center 	{ text-align: center; }

.font-size-10 		{ font-size: 10px; }

.font-color-white 	{ color: #fff; }

.text_shadow_black { text-shadow: 1px 1px #000; }


.highlightThis.activated {
	font-weight: bold;
}


/**restaurants.html**/
.loadingButton {
	background-color: #cccccc;
     font-size: 20px;
    opacity: 0.56;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}



/*****restaurant detail page****/
.checkbox > img {
        width: 35px;
}
#kaseydiner .col-offset-20
{
	margin-left:3%
}



/******SignIn page******/
.loyalbonus_img {
	color: #fff;
	background-color: #617AAC;
	padding: 12px 25px;
}
.loyalbonus_img_business {
	color: #fff;
	background-color: #00AEEF;
	padding: 12px 25px;
	margin-left: 13px;
}
.loyalbonus_img .icon		{
	font-size: 21px;
    position: relative;
    top: 2px; 
}
.loyalbonus_img.activated 	{
	background-color: #3B5998;
}



/*****Milestones******/
#Milestones .title {
	margin-bottom: 0;
    padding-left: 6px;
}


.already-loyalbonus.activated {
	
}

/*****Account page****/
.color-reviewblue.activated {
	color:#387EF5;
	font-weight: bold;
}


/****Review page***/
#Review #logo { position: relative; }
#Review #logo .reviews-star {
	bottom: 2px;
    position: absolute;
    right: 0;
}
#Review .highlightThis.activated .title {
	font-weight: bold;
}

#home img.leftsidelogo {
padding: 5px;
    margin: 5px;
        width: 60%;
        
}
#home .ion-item
{
	border-bottom: none;
}
#home .colorchanged
{
	color: #387ff5;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 500;
}
#home .col:first-child
{
border:none;
}
#home .addclassios
{
	    top: 18px;
}
#Businessmap .addclassiostext
{
	top: 15px;
	position: relative;
}

#kaseydiner .addclassiosisloved
{
	top:22px;
}

#kaseydiner .button.button-balanced
{
	    line-height: 35px;
	    min-height: 27px;
	    margin-left: 45px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
#kaseydiner .wth-border.item.ng-binding.colorblack
{
	color:#000;
	font-size: 15px;
	font-weight: 600;
}
#kaseydiner .wth-border.item.ng-binding.color33cd5f
{
	color:#33cd5f;
}

#kaseydiner .wth-border.item.ng-binding.color42ae9d
{
	color:#42ae9d;
	font-size: 19px;
}

