/* Empty. Add your own CSS if you like */
body
{
    height:100%;
    
}
.new_margin
{
    margin-bottom: 10px;
}
img{
    max-width:100%;
}
#kaseydiner #logo
{
    width:100%;
    text-align: center;
        position: relative;
}
#restaurants #logo
{
    width:100%;
    text-align: center;
       
}
#logo > img{
    width:70%;
}
.bar .title
{
    height:auto;
        top: 35px;
}
.new_bg
{
     background: url('../img/signup1.jpg') no-repeat center center fixed; ;
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover; 
    /*min-height: 110px;*/
    background-color: unset;
    display: block;
    height:100%;
    width:100%;
    
}
.item
{
    background-color: #beaf98;
    opacity: 0.8;
    border: 1px solid #beaf98;
    
    
}
#Signin .scroll-content {
       top: 0px;
    padding-top: 25px;
    
}
#Signup .scroll-content {
       top: 0px;
    padding-top: 25px;
    
}
.loyalbonus_cap
{
    text-transform: uppercase;
}
.scroll-content
{
    top: 100px;
   
    z-index: 99;
}
.card, .list-inset
{
    /* background-color: unset!important; */
    background-color:transparent;
}
.already-loyalbonus
{
       color: #fff;
    text-decoration: none;
        font-size: 15px;
    
}
.item-input
{
    padding:2px 0 1px 12px;
}
.sign-loyalbonus
{
     color: #fff;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 12px;
        background: #726964; /* ff3.6+ */ /* safari4+,chrome */
    z-index: 16;
}
.loyalbonus_img .loyalbonus_i
{
    max-width:50%;
}
.loyalhouse_border
{
    position: relative;
    z-index: 1;
    top: -23px;
}
fieldset
{
    margin: 6px 2px;
    padding: 0.85em 0 0 0;
    border-top: 1px solid #aaabb7;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#mappage .bar .title
{
    top:0px;
    color: #000;
}
.placeholder-icon
{
    font-size: 25px;
    color:#fff;
}
#mappage .col
{
    padding:0px;
}

p.float-left
{
    float: left;
    margin:0px;
}
p.float-right
{
    float: right;
    margin:0px;
}
#mappage .item-input
{
    margin-top:40px;
       }
#mappage .item
{
    background-color:#ffffff;
        z-index: 99999;
}
.icon.ion-search.placeholder-icon.color-change
{
    color:#c5c5c5;
    font-size:18px;
}
map {
  display: block;
  width: 100%;
  height: 100%;
}
#mappage .scroll {
  height: 100%;
}
#mappage .scroll-content {
    top: 45px;
    z-index: 105;
}

#restaurants .title
{
    top:0px;
    color: #000;
}
#restaurants .col {
    padding: 0px;
}
#restaurants .item
{
    background: transparent;
        color: #63615a;
    font-size: 20px;
    border: 1px solid #cdcdcd;
}

#restaurants .scroll-content
{
     top:93px; 
   /*  top:-3px; */
}
.rttitle
{
  font-size: 25px;
  color:#f5f5f5;
  
  }
  .rttitleEmail
  {
    color:#f5f5f5;
    font-size: 20px;
  }
  .padding_5
  {
    padding: 5px;
  }
  .row_1
  {
    float:left;
  }
#restaurants .rtblock
{
    background-color:#000;
    
}
#restaurants .new-color-loyal{
    color:#4fbb4f;
    text-align:center;
}

#restaurants #logo > img{
    width:100%;
   /*  position: relative;
   top: -35px; */
    
}
p.stake-house
{
    float: left;
    position: absolute;
    top: -30px;
    color: #fff;
    font-size: 18px;
    left: 8px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    max-width:110px;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.platform-android {
  p.stake-house {
    @extend .has-tabs-top;
  }
}
.stake-house
{
     position: relative;

}
.ion-load-d
{
    color:#3dc4ff;
    font-size:18px;
        margin-right: 5px;
}
#restaurants .wth-border
{
       border: none;
    font-size: 14px;
    padding: 6px;
}
.icon-gift
{
    color:#ee6a67;
    font-size:18px;
        margin-right: 5px;
}
#restaurants .border-bottom
{
    border-bottom: 1px solid #f3f3f3;
        padding: 8px;
    border-top: none;
    border-right: none;
    border-left: none;
}
#restaurants .Change-color
{
    color:#439fce;
        font-size: 18px;
}
.rat-star
{
    color:#ffb06b;
    position: absolute;
    /*top: 21%;*/
    right:0px;
            
}
#kaseydiner .reviews-star
{
    color:#ffb06b;
    position: absolute;
   bottom: 11px;
   right:0px;
            
}

#restaurants .rat-star
{
    color:#ffb06b;
    position: absolute;
    bottom : 18px;
    right:0px;
}
#kaseydiner #logo > img {
    width: 100%;
}
#kaseydiner .scroll-content
{
    top:44px;
}
#kaseydiner .title {
    top: 0px;
}
.button.button-clear.icon.ion-navicon-round:before 
{
    color:#fff;
}
.button.button-dark.button-clear
{
      color:#fff;
}
.button-clear.button-clear
{
      z-index: 99999;
    float: right;
}
#kaseydiner .rtblock {
    background-color: #000;
}
#kaseydiner .item {
    background: transparent;
    color: #63615a;
    font-size: 20px;
    border: 1px solid #cdcdcd;
}
#kaseydiner .rtblock {
    background-color: #000;
}
#kaseydiner .wth-border {
    border: none;
    font-size: 14px;
    padding: 6px;
}
.ion-ios-heart
{
    color:#d81814;
    padding-right: 3px;
        font-size: 23px;
}
 strong {
   
    padding-right: 2px;
    padding-left: 2px;
    font-size: 18px;
}
.color-chnage
{
    color:#a0a0a0;
    font-size: 18px;
}
.ion-ios-star-outline
{
    color:#ffd925;
    padding-right: 2px;
        font-size: 23px;
}
#kaseydiner .item-checkbox {
    padding-left: 0px;
    border:none;
}
#kaseydiner .border-bottom {
    border-bottom: 1px solid #f3f3f3;
    padding: 8px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.rat-starnew
{
    background-color: #dddddd;
}
.loyal-kaseydiner
{
    color:#63615a;
    font-size:17px;
    padding:5px;
   
}
.loyal-btdinner
{
   border-bottom: 1px solid #cbcac8; 
   position: relative;
   top: -22px;

}
.loyal-kaseydinerpara
{
    padding-top: 2px;
    color: #4e4e4e;
    line-height: 29px;
    margin-bottom: 50px;
    font-size: 21px;
        text-align: justify;
}
.bar-footer .title {
    height: auto;
    top: 3px;
}
#kaseydiner .checkbox
{
    float: Left;
    padding:10px 2px 10px 5px 
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #33CD5F;
    border-color: #33CD5F;
}
.newloyalcheckbox{
    background-color: #ddd;
    float: left;
    width: 100%;
        position: relative;
    top: -5px;
}
#kaseydiner .gift-round
{
  border: 6px solid #ffbf00;  
  background-color: #fff;
}
.round
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px 2px 10px 5px;
    float: left;
    border: 4px solid #bfbfbf;
}
.round-span
{
    font-size: 17px;
    position: relative;
    left: 6px;
    top: 1px;
    color: #fff;
}
.round p {
   font-size: 15px;
    position: relative;
    top: -4px;
    left: 11px;
    color: #fff;
}
.checkbox input, .checkbox-icon
{
    width: 50px;
    height: 50px;
}
.checkbox input:after, .checkbox-icon:after {
        -webkit-transition: opacity 0.05s ease-in-out;
    transition: opacity 0.05s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 17%;
    left: 13%;
    display: table;
    width: 42px;
    height: 16px;
    border: 3px solid #fff;
    border-top: 0;
    border-right: 0;
    content: ' ';
    opacity: 0;
}
.loyal-gift
{
    font-size: 33px;
    position: relative;
    left: 5px;
    top: 2px;
}
.new-success
{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    background-color: #f2f2f2;
    // float: left;
    //     position: relative;
    // top: -81px;
}
.new-pullup
{
    position: relative;
    top:-18px;
}
#logo .ion-ios-star-outline
{
        margin: 5px;
            
}
#restaurants .ion-ios-star-outline {
    margin: 5px;
}
#logo .ion-ios-star {
    margin: 5px;
        padding-right: 2px;
}
#restaurants .ion-ios-star {
    margin: 5px;
    padding-right: 2px;
}
// h1, .h1
// {
//         padding-bottom: 67px;
// }
.bar-footer {
    bottom: -45px;
    }
#Review #logo img {
    width: 100%;
}
#Review .scroll-content {
    top: 44px;
}
#Review h1, .h1 {
            padding: 5px;
    margin: 0px
}
#Review strong
{
       color: #000;
    font-size: 37px;
    margin-top: 17px;
    float: left;
}
#Review .color-review
{
    color: #868686;
    font-size: 22px;
    padding-right: 11px;
    padding-left: 15px;
    float: left;
    margin-top: 22px;
}
#Review .color-reviewblue
{
    color: #3290ed;
    font-size: 24px;
    float: left;
    margin-top: 21px;
    text-decoration: none;
}
#Review .border-review
{
    border-bottom: 1px solid #000000;
    margin: 10px;
}
#Review .item
{
    border-top:none;
    border-bottom: none;
    border-left:none;
    border-right:none;
    background: unset;
}
#Review .color-reviewgrey
{
        color: #868686;
    text-decoration: none;
    font-size: 21px;
    padding-left: 13px;
    padding-bottom: 15px;
}
.padding-Milestones
{
    padding:2px
}
#Milestones h1, .h1
{
        font-size: 30px;
}
#Milestones .scroll-content {
    top: 58px;
    z-index: 99;
}
#Milestones img{
    width:94%;
}
#Milestones .border-milestone
{
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 50px;
    padding-top: 50px;

}
#Account .item
{
    background-color:unset;
    border:none;
}
#Account .name
{
        border: 1px solid #aaaaaa;
    padding: 7px;
}
#Account .email
{
        border: 1px solid #aaaaaa;
    padding: 7px;
}
#Account .password
{
        border: 1px solid #aaaaaa;
    padding: 7px;
}
#Account .item-floating-label .input-label.has-input
{
    margin-bottom: 10px;
}
.label-text
{
   padding: 2px;
    margin-top: 4px;
    float: left;
    color:#b3b1b1;
}
#Account .color-reviewblue
{
    color: #3290ed;
    padding: 2px;
    margin-top: 4px;
    text-decoration: none;
    float: left;
    margin-bottom: 20px;
}
#Account .h1.title
{
      
    text-align: center;
    padding-left: 12px;
}
#Account .height-bottom
{
        margin-top: 20px;
}

#Signin
{
    background-image: url('../img/signup.jpg');
    background-repeat: no-repeat;
        height: 600px;
}
#Signin #logo
{
       /*  margin-bottom: 130px; */
       margin-bottom: 70px;
       text-align: center;
}
#Signin .item
{
    background-color: #a8a8a8;
    border:1px solid #a8a8a8;
        opacity: 0.6;
}
#Signin textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
    color:#fff;
}
#Account textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
    color:#111;
}
.username::-webkit-input-placeholder {
    color:    #64625b;
}
.username:-moz-placeholder {
    color:    #64625b;
}
.username::-moz-placeholder {
    color:    #64625b;
}
.username:-ms-input-placeholder {
    color:    #64625b;
}
.password::-webkit-input-placeholder {
    color:    #64625b;
}
.password:-moz-placeholder {
    color:    #64625b;
}
.password::-moz-placeholder {
    color:    #64625b;
}
.password:-ms-input-placeholder {
    color:    #64625b;
}
.float-right
{
    float: right;
}
.hide-loyal
{
    display: none;
}
#Account
{
    background-color: #ecf0f1;
    height: 800px;
}
#Signup #logo
{
        margin-bottom: 67px;
        text-align: center;
}
#Signup .item {
    background-color: #a8a8a8;
    border: 1px solid #a8a8a8;
    opacity: 0.6;
}
.firstname::-webkit-input-placeholder {
    color:    #64625b;
}
.firstname:-moz-placeholder {
    color:    #64625b;
}
.firstname::-moz-placeholder {
    color:    #64625b;
}
.firstname:-ms-input-placeholder {
    color:    #64625b;
}
.lastname::-webkit-input-placeholder {
    color:    #64625b;
}
.lastname:-moz-placeholder {
    color:    #64625b;
}
.lastname::-moz-placeholder {
    color:    #64625b;
}
.lastname:-ms-input-placeholder {
    color:    #64625b;
}
.email::-webkit-input-placeholder {
    color:    #64625b;
}
.email:-moz-placeholder {
    color:    #64625b;
}
.email::-moz-placeholder {
    color:    #64625b;
}
.email:-ms-input-placeholder {
    color:    #64625b;
}
.companyname::-webkit-input-placeholder {
    color:    #64625b;
}
.companyname:-moz-placeholder {
    color:    #64625b;
}
.companyname::-moz-placeholder {
    color:    #64625b;
}
.companyname:-ms-input-placeholder {
    color:    #64625b;
}
.phonecode::-webkit-input-placeholder {
    color:    #64625b;
}
.phonecode:-moz-placeholder {
    color:    #64625b;
}
.phonecode::-moz-placeholder {
    color:    #64625b;
}
.phonecode:-ms-input-placeholder {
    color:    #64625b;
}
.phone::-webkit-input-placeholder {
    color:    #64625b;
}
.phone:-moz-placeholder {
    color:    #64625b;
}
.phone::-moz-placeholder {
    color:    #64625b;
}
.phone:-ms-input-placeholder {
    color:    #64625b;
}

#Signup textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
    color:#fff;
}
#Membership 
{
    background-color:#ecf0f1
}
#Membership .h4.title 
{
       
        text-align: left;
    padding: 1px;
   margin: 0;
    padding-left: 4px;
}

#Membership .color-reviewblue
{
        color: #3290ed;
    font-size: 21px;
    float: left;
    
    text-decoration: none;
    padding-right: 5px;
    padding-left: 6px;
}
#Membership .color-reviewb
{
      color: #3290ed;
    font-size: 14px;
    float: left;
    margin-top: 3px;
    
}
#Membership .scroll-content {
       top: 65px;
    z-index: 99;
}
#Membership .color-txt
{
 padding-left: 5px;
 color:#727171;
}
#Membership .item
{
    background-color: unset;
    border:none;
}
#Membership .firstname
{
    border:1px solid #aaaaaa;
    padding:5px;
}
#Membership .lastname
{
    border:1px solid #aaaaaa;
    padding:5px;
}
#Membership .companyname
{
    border:1px solid #aaaaaa;
    padding:5px;
}
#Membership .email
{
    border:1px solid #aaaaaa;
    padding:5px;
}
#Membership .phone
{
    border:1px solid #aaaaaa;
    padding:5px;
    
}
#Membership .phonecode
{
    border:1px solid #aaaaaa;
    padding:5px;
    
}
#Membership .address
{
    border:1px solid #aaaaaa;
    padding:5px;
    margin-bottom: 5px;
    
}
#Membership .towncity
{
    border:1px solid #aaaaaa;
    padding:5px;
}
#Membership .postcode
{
  border:1px solid #aaaaaa;
    padding:5px;  
    margin-bottom: 50px
}
#Membership .marg-right
{
    margin-right: 5px;
}
#Membership .item-input {
    padding: 2px 0 1px 2px;
}
#Membership textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    color: #000;
}
#Membership .card, .list-inset {
       margin: 0px 10px;
}
#Membership .ion-ios-star
{
    color:#fb0303;
    font-size: 11px
}
#Account .item-input {
    padding: 2px 0 1px 2px;
}
#Membership .item-floating-label .input-label.has-input {
    margin-bottom: 10px;
}
.flot-right
{
    float: right;
}
#Membership .border-nd
{
    border:1px solid #aaaaaa;
        margin-bottom: 25px;
            padding: 10px;
                margin-top: 25px;
}
#Membership .creditcard-span
{
    padding:3px;
    color:#727171;
    font-size:18px;
}
#Membership .new-select
{
    
        margin-top: 18px;
}
span.error
{
color:#EE1D25;
    font-size: 20px;
    opacity: .9;
}
.button.disabled, .button[disabled]
{
    opacity: .8

}
#Signin .username
{
font-size: 20px;
}
#Signin .password
{
font-size: 20px;
}
#Signup .firstname
{
  font-size: 20px;  
}
#Signup .lastname
{
  font-size: 20px;  
}
#Signup .email
{
  font-size: 20px;  
}
#Signup .password
{
font-size: 20px;
}


#Map .scroll-content {
    top: 0px;
    
}
#Map .list.list-inset
{
    position: relative;
    bottom: -48px;
}
#Map .item
{
    background-color: #fff;
    border:1px solid #fff;
        margin-top: 10px;
}
.buttonListView
{
     background-color: #000;
    z-index: 99;
    padding: 0 7px;

}

#Map .gm-style-mtc
{
 display: none;
}
#kaseydiner .buttonListView
{
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: #DDDDDD;
    color: #000;
}
#kaseydiner .bar-footer
{
       position: relative;

}
#ResetPassword .loyal-kaseydiner {
    color: #fff;
    font-size: 30px;
    padding: 5px;
    text-align: center;
}
#ResetPassword .scroll-content {
    top: 21px;
    z-index: 99;
}
.restpassowrdtext
{
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 0 16px 14px 14px;
}
#ResetPassword .pane
{
    background-color: transparent;
}
#ResetPassword #logo
{
        margin-bottom: 35px;
        text-align: center;
}
#ResetPassword .button-clear.button-clear {
    z-index: 99999;
    float: left;
}
.new-left
{
    float: right;
    font-size: 25px;
}

/*---- 18-3-2016 ----*/
.success_msg {background: #fed2d3;border: 1px solid #8d333d;color: #8d333d;float: left;font-size: 16px;
font-weight: normal;padding-bottom: 10px;padding-top: 10px;text-align: center;width: 100%;}
.error_msg {
    background-color: #EF473A;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
}

/* #key
{
    color:#fff;
    font-weight: 800;
    border-bottom: 1px solid #fff;
} */

#restaurants ul[rn-carousel]
{
    overflow-x: scroll;
}
#restaurants .tab-item
{
         font-weight: 200;
         /* max-width: 118px; */
             font-size: 15px;
             overflow: hidden;
    max-width:123px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#restaurants ul[rn-carousel] li:first-child
{
    margin-left: -6px;
}
#restaurants ul[rn-carousel] li:nth-child(2)
{
    margin-left: -15px;
}
 #map-canvas
    {
        width : 100%;  /* map width */
        height: 600px;  /* map height */
    }
#restaurants .item-complex .item-content, .item-radio .item-content
    {
            padding: 16px 49px 16px 0px;
    }

#kaseydiner #map-canvas
    {
        width : 100%;  /* map width */
        height: 200px;  /* map height */
    }
   #kaseydiner .overflow-scroll .scroll {
    
    height: 500px;
}
#restaurants .item-input
{
    background-color: #fff;
    position: absolute;
    height: 34px;
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 0px;
    margin: 27px 0px 0px 17px;
    width: 90%;
}

.white_background_color {
    background-color: #fff;
}
.icon_kasy {
    padding: 5px 0 0px 8px;
    margin: 5px 0 0 0;
    font-size: 18px;
    text-transform: capitalize;
}
span.icon_kasy_new {
    position: relative;
    top: -12px;
    margin: 5px;
}
span.icon_kasy_newsec
{

}
#restaurants .current{
  color:white;
}

#Signin .button
{
            min-height: 35px;
    line-height: 24px;
}
#Signin .bar
{
        height: 29px;
}


